{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": ["@babel/plugin-proposal-class-properties", "lodash"],
  "env": {
    "development": {
      "plugins": ["babel-plugin-styled-components"]
    }
  }
}
