{
  "tabWidth": 2,
  "singleQuote": true,
  "bracketSpacing": false,
  "bracketSameLine": true,
  "trailingComma": "es5",
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": "scenarios.ts",
      "options": {
        "printWidth": 200
      }
    }
  ]
}
