body {
    margin: 0;
    background: #f6f7f9;
}
textarea {
    width: 100%;
    resize: vertical;
    border: 1px solid #dddfe2;
}
textarea:focus {
    border-color: #009ff1;
}
.app {
    padding-bottom: 53px;
}
.wrap {
    padding: 14px 17px;
    border-top: 1px solid #dddfe2;
}
.wrap:first-child {
    border-top: 0;
}
.description {
    margin: 0 0 1em;
    line-height: 1.5em;
}
.item {
    position: relative;
    padding: .75em;
    border-top: 1px dashed #dddfe2;
    display: flex;
    justify-content: space-between;
}
.item:first-child {
    border-top: 0;
}
.item:hover {
    background: #eaedf0;
    cursor: pointer;
}
.itemActive,
.itemActive:hover {
    color: #fff;
    background: #009ff1;
    border-top-color: #009ff1;
    border-top-style: solid;
}
.itemActive + .item {
    border-top: 1px solid #009ff1;
}
.controls {
    position: fixed;
    bottom: 0; left: 0; right: 0;
    padding: 14px 17px;
    background: #fff;
    border-top: 1px solid #dddfe2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px -3px 1px 0px rgba(50, 60, 70, 0.04);
}
.error {
    color: #f1002b;
    font-weight: bold;
}
.info {
    color: #009ff1;
    font-weight: bold;
}